#fh5co-hero {  
  margin-bottom: 50px;
}

#fh5co-hero .fh5co-hero-wrap {
  padding-top: 20em;
  display: table;
  height: 150px;
  width: 100%;
}

body.inner-page #fh5co-hero {
  height: 150px;
}

body.inner-page #fh5co-hero .fh5co-hero-wrap {
  padding-top: 10em;
}

#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro > h2 {  
  padding-bottom: 0px;
  margin-bottom: 0px;
  
}